<div class="login-wrapper">
  <div class="login-card">

    <h2>Create Account</h2>
    <p class="subtitle">Signup to get started</p>

    <!-- 🔥 POPUP -->
    <div *ngIf="showPopup" class="popup"
         [ngClass]="successMessage ? 'success' : 'error'">
      {{ successMessage || errorMessage }}
    </div>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

      <!-- NAME -->
      <div class="form-group">
        <label>Full Name</label>
        <div class="input-box">
          <span class="icon">👤</span>
          <input type="text" formControlName="name" placeholder="Enter your name" />
        </div>
        <small *ngIf="name?.invalid && name?.touched">
          Name is required
        </small>
      </div>

      <!-- EMAIL -->
      <div class="form-group">
        <label>Email</label>
        <div class="input-box">
          <span class="icon">✉️</span>
          <input type="email" formControlName="email" placeholder="Enter your email" />
        </div>
        <small *ngIf="email?.invalid && email?.touched">
          Enter valid email
        </small>
      </div>

      <!-- PASSWORD -->
      <div class="form-group">
        <label>Password</label>
        <div class="input-box">
          <span class="icon">🔒</span>
          <input type="password" formControlName="password" placeholder="Enter password" />
        </div>
        <small *ngIf="password?.invalid && password?.touched">
          Minimum 6 characters required
        </small>
      </div>

      <!-- BUTTON -->
      <button type="submit" [disabled]="signupForm.invalid || isLoading">
        {{ isLoading ? 'Signing up...' : 'Signup' }}
      </button>

    </form>

    <!-- LOGIN LINK -->
    <p class="footer-text">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>

  </div>
</div>
